<link href="https://fonts.googleapis.com/css2?
family=Heebo:wght@100;200;300;400;500;600;700;800;900
&family=Noto+Sans+JP:wght@100;300;400;500;700;900
&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800
&display=swap" rel="stylesheet">

* {
  box-sizing: border-box;
  margin: 0;
}

.background-lines {
  background: white url('images/background-lines.svg') no-repeat center top;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.wrapper {
  margin: 0 243px;
}

/* NAVBAR */
nav{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px 243px;
}

nav ul {
  display: flex;
  flex-flow: row;
}

nav li{
  list-style: none;
  margin-right: 60px;
}

nav li:last-child{
  margin-right: 0;
}

nav li a {
  text-decoration: none;
  color: #000000;
  font-family: Noto Sans JP, sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
}
